language: node_js
node_js:
  - '8'
  - '9'
  - '10'
os:
  - linux
  # - centos
  # - macosx
  # - windows
env:
  - TRAVIS=true
services:
  - mongodb
cache:
  yarn: true
  directories:
    - node_modules
before_install:
  - yarn global add mocha istanbul
before_script:
  - mongo mydb_test --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'
after_script:
  - yarn run coverage
notifications:
  webhooks:
    urls:
      - $GITTER_IM_URL
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always